

#mainbody {
  font-family: Verdana, sans-serif;
  background-image: url('../images/background3.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}


#logo {
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
}

#logo_nav {
  font-family: 'Pacifico', cursive;
  font-size: 3vw;
  color: white;
}

#searchicon {
  max-width: 11%;
  display: inline;
}

#welcome {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

h2 {
  padding-top: 20px;
  font-family: 'Indie Flower', cursive;
}

#options {
  padding-top: 20px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#welcometext {
  font-weight: bold;
}

.icon {
  background-color: transparent;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  max-width:50%;
  max-height:50%;
}

.b_icon {
  background-color: transparent;
  border-radius: 100px;
  border-style: solid;
  border-width: 9px;
  border-color: white;
  padding-bottom: 50px;
}

.highlighted {
  background-color: RGBA(16,20,14,0.8);
  border-radius: 100px;
  border-style: solid;
  border-width: 9px;
  border-color: RGB(86,35,95);
  padding-bottom: 50px;
}

#info {
  padding-top: 20px;
  background-color: #10140e;
  color: white;
  style: bold;
  min-height: 40px;
}

#smallicon {
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#aboutbody {
  font-family: Verdana, sans-serif;
  background-image: url('../images/background3.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  margin-rigt: auto;
  margin-left: auto;
  display: block;
}

#whoarewe {
  font-family: 'Indie Flower', cursive;
  color: white;
  background-image: url('../images/background3.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 150px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#abouttext {
  background-color: RGBA(16,20,14,0.8);
  padding-top: 10px;

  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
}

#textdetails {
  text-align: justify;
  padding-top: 30px;
  font-family: 'Special Elite', cursive;
  color: #d6d6d6;
  font-size: 18pt;
  margin-left: 60px;
  margin-right: 60px;
}



blockquote {
  border-radius: 3px;
  padding: 36px 50px;
  box-shadow: 0 4px rgba(0,0,0,.25);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: RGBA(40,40,40,0.7);
  margin-bottom: 10px;
  color: #868585;
  font-size: 16px;
  font-family: verdana;
  font-style: italic;
}

.authorship {
  color: black;
  font-weight: bolder;
  font-size: 14px;
  font-family: verdana;
  text-align: right;
  font-style: normal;
}

.schemes {
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
}

#bordercol {
  max-width: 98%;
  margin-right: auto;
  margin-left: auto;
  border: solid 4px white;
}

.reference {
  font-family: verdana;
  font-style: italic;
  font-size: 16px;
  color: #868585;
  font-weight: bold;
}

#buzz {
  background-color: RGBA(16,20,14,0.8);
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#textdetails2 {
  text-align: justify;
  color: #d6d6d6;
  font-size: 18pt;
  margin-left: auto;
  margin-right: auto;
}

label{
  color: white;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 20pt;
}


#selling-header {
padding-top: 5px;
}


#selling {
  font-family: 'Indie Flower', cursive;
  color: white;
  background-image: url('../images/background3.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 150px;
  padding-top: 50px;
}

.upload-btn_custom-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn_custom {
  border: 4px solid white;
  color: white;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn_custom-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#productsection {
  padding-top:200px;
  background-color: RGBA(16,20,14,0.8) ;
}

#imgproduct {
  max-width: 80%;
  border-radius: 30px;
  border: 5px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.proddesc {
  color: white;
  font-family: verdana;
  max-width: 80%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 12px;
}

.prodtitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: white;
  font-family: 'Special Elite', cursive;
}

.prodaddress {
  text-align: right;
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
  padding-top: 10px;
}

.prodtext{
  text-align: justify;
  font-size: 14px;
}

.prodprice{
  font-weight: bolder;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 40px;
}

.hidding {
  display: none;
}

.share_btn{
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 0px;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Indie Flower';
  position: absolute;
  margin: auto;
  bottom: 10px;
  left: 40px;
  display: inline-flex;
  align-items: flex-end;
}

.fb_btn{
  background-color: #3b5998;
  border-color: #3b5998;
  padding: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'roboto', 'verdana';
  position: absolute;
  margin: auto;
  bottom: 10px;
  left: 40px;
  display: inline-flex;
  align-items: flex-end;
}

.price_btn{
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 0px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'verdana';
  position: absolute;
  margin: auto;
  bottom: 10px;
  right: 40px;
  display: inline-flex;
  align-items: flex-end;
}

.more_btn{
  border: 0px;
  background-color: transparent;
  padding: 0px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
  position: absolute;
  margin: auto;
  display: inline-flex;
  align-items: flex-end;
}

.item {
  border: solid 2px white;
  max-width: 85%;
  max-height: 85%;
  min-height: 400px;
  margin: auto;
  position: relative;
}
