#welcome {
  background-color: #a9d18e;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#options {
  background-color: #a9d18e;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}
